@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #632626; /*Cor de fundo*/
    --cor-secundaria: #DACC96; /* Cor do parágrafo*/
    --cor-terciaria: #F6F6F6; /* Cor de destaque, do menu e do fundo do rodapé*/
    --cor-hover: #9D5353;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 3% 0 0 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    color: var(--cor-terciaria);
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    text-decoration: none;
}

.apresentacao {
    padding: 6% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 82px;
}

.titulo-destaque {
    color: var(--cor-terciaria);
    font-weight: 400;
    font-style: normal;
}

.texto-destaque {
    color: var(--cor-terciaria);
}


.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-style: normal;
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    text-align: justify;
}

.apresentacao__conteudo__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 32px;
}

.apresentacao__conteudo__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}

.apresentacao__conteudo__links__link {
    display: flex;
    color: var(--cor-secundaria);
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    text-decoration: none;
    align-items: center;
    column-gap: 16px;
    width: 60%;
    text-align: center;
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    padding: 21.5px 0;
    cursor: pointer;
    justify-content: center;
    box-sizing: border-box;
}

.apresentacao__conteudo__links__link:hover {
    background-color: var(--cor-hover);
    color: var(--cor-secundaria);
}

.apresentacao__imagem {
    width: 50%;
}

.rodape {
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    /* width: 100%; */
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 6%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 0 5% 10%;
    }

    .apresentacao__imagem {
        width: 70%;
        padding: 8% 0;
    }

    .apresentacao__conteudo {
        width: 100%;
    }
}